body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-family: Poppins;
}

nav {
    width: 100%;
    height: 80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 1px 0.1px 10px 1px rgba(128, 128, 128, 0.341);
}

.airbnb-logo {
    max-width: 82px;
    margin-left: 20px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 50px 0px 50px;
}

.photo-grid {
    width: 90%;
    max-width: 800px;
}

.main-title {
    align-self: flex-start;
    font-size: 38px;
    line-height: 39px;
    font-weight: 600;
}

.hero-description {
    margin-top: -10px;
    align-self: flex-start;
    color: #222222;
    width: 75%;
    font-size: 16px;
}

.card-container {
    padding: 50px 10px 50px 50px;
    margin-top: 0px;
    width: 175px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

.card-img-container {
  position: relative;
}

.card-image {
    border-radius: 10px;
    width: 175px;
}

.card-status {
    position: absolute;
    top: -4px;
    left: 6px;
    background-color: white;
    padding: 5px 8px;
    color: #222222;
    border-radius: 5px;
    line-height: 11px;
    font-weight: 400;
    font-size: 10px;
}

.card-rating {
    margin-top: 4px;
    line-height: 13px;
    color: #222222;
    margin-bottom: 0px;
    font-size: 12px;
}

.card-rating > span {
    color: #918E9B;
    font-size: 12px;
}

.star-logo {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.card-description {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #222222;
    font-weight: 300;
    font-size: 12px;
    text-overflow: ellipsis;
    /* overflow: hidden; */
}

.card-pricing {
  margin-top: 10px;
  line-height: 13px;
  color: #222222;
  font-weight: 300;
  font-size: 12px;
}

.card-pricing > span {
    color: #222222;
    font-weight: 600;
}

.card-list {
    display: flex;
    overflow: scroll;
}